$black: #000000;
$white: #ffffff;
$steel-grey: #221d34;
$bermuda-grey: #7487a5;
$ziggurat-blue: #b5d3db;
$opium-pink: #8f6771;

$Montserrat: "Montserrat", "Arial", sans-serif;
$RedRose: "Red Rose", "Helvetica", "sans-serif";

//for-phone-only
@mixin small {
  @media (max-width: 599px) {
    @content;
  }
}

//for-tablet-portrait-up
@mixin medium {
  @media (min-width: 600px) {
    @content;
  }
}

//for-tablet-landscape-up
@mixin large {
  @media (min-width: 900px) {
    @content;
  }
}

//for-desktop-up
@mixin xlarge {
  @media (min-width: 1200px) {
    @content;
  }
}

//for-big-desktop-up
@mixin massive {
  @media (min-width: 1800px) {
    @content;
  }
}
